//Colors 
$primary-color: #343d46;
$foreground-color: #c0c5ce;
$connection-color: #b48ead;
$port-color: #bf616a;
$text-color: #ebcb8b;
$support-color: #96b5b4;
$constant-color: #a3be8c;
$integer-color: #d08770;
$attribute-color: #8fa1b3;
$ignore-color: #4f5b66;
$embedded-color: #ab7967;
$invalid-color: #2b303b;
//Line width 
$state-line-width: 1;
$port-line-width: 1;
$connector-line-width: 2;