@import 'bourbon/bourbon';
@import "_colors.scss";
@import "_layout.scss";
@import "_workspace.scss";

body {
  font: 100% $font-stack;
  background-color: $primary-color;
}

[role="main"] {
  padding: 1em;
  position: absolute;
  top: 30px;
  left: 40px;
}